.footerAll {
  display: flex;
  justify-content: space-between;
}
div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#333;
    padding:1px;
}
h3 {
  color: blue;
}
#Header {
  font-weight: 600;
  background-color: lightgray;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:1px;
}
.footerDiv {
  font-size: 18px;
}
.listOut {
  font-size: 16px;
}
#warning {
  color: red;
}
