<div id="footer">
  <div class="footerAll">
    <div class="footerDiv" >
      <a href="/categories/new">Add A Category</a>
    </div>
    <div class="footerDiv" >
      <a href="/categories/clear">Clear All categories</a>
    </div>
    <div class="footerDiv" >
      <a href="/categories">View all categories</a>
    </div>


    <div class="footerDiv" >
      <a href="/tasks/new">Add A Task</a>
    </div>
    <div class="footerDiv" >
      <a href="/tasks/clear">Clear Tasks From This Task</a>
    </div>
    <div class="footerDiv" >
      <a href="/tasks">View all Task In This Task</a>
    </div>
    <div class="footerDiv" >
      <a href="/">Return to Homepage</a>
    </div>
  </div>
</div>
