@{Layout = "_Layout";}
<br>
<form action="/categories" method="post">
  <label for="categoryName">Category Name:</label>
  <input type="text" name="categoryName" id="categoryName" placeholder="Name of new category">
  <button id="CategoryButton" class = "btn btn warning" type="submit" name="button">Submit</button>
</form>
